.button__createTodoButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: rgba(255, 255, 255, 0.06);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    font-size: 2em;
    color: rgb(0, 0, 0);
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .button__createTodoButton:hover {
    width: 100px;
    border-radius: 0px;
    transition-duration: .3s;
  }
  
  .button__createTodoButton:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding: 0px 5px;
  }
  /* hover effect button's text */
  .button__createTodoButton:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
  }
  /* button click effect*/
  .button__createTodoButton:active {
    transform: translate(2px ,2px);
  }