.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(../public/dispositivo-portatil-espacio-copia.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.todo__container-div {
  display: flex;
  align-items: center;
  margin-top: 5%;
  width: 550px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.1px);
  -webkit-backdrop-filter: blur(0.1px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.todo__container {
  display: flex;
  justify-content: center;
}
